.about{
    padding: 80px;
}

.about__title{
    font-family: var(--sh);
font-weight: 400;
font-size: 40px;
line-height: 100%;
text-transform: uppercase;
color: var(--black);
padding: 10px;
}
.about__desc-slogan{
    font-family: var(--sh);
font-weight: 400;
font-size: 24px;
line-height: 100%;
color: var(--black);
padding: 10px;
}
.about__text-slogan{
    font-family: var(--sh);
font-weight: 400;
font-size: 16px;
line-height: 100%;
color: var(--gray);
padding: 10px;
}
.about__img{
    max-width:100% ;
}
.about__img img{
    width: 100%;
    height: 100%;
}