.favorite path {
    fill: transparent;
    stroke: #242424;
    transition: 0.4s;
}

.favorite:hover path {
    fill: #242424;
}

.bestsellers-title {
    font-family: var(--sh);
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    color: var(--black);
}

.bestsellers__desc-slogan {
    margin-top: 40px;
    font-family: var(--sh);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: var(--black);
}

.bestsellers__text-slogan {
    margin-top: 40px;
    font-family: var(--sh);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--gray);

}



.card__title {
    font-family: var(--sh);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
}

.card {
    position: relative;
    max-width: 100%;
}

.card-info {
    font-family: var(--sh);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
    padding: 4px;
}

.card__content {
    position: absolute;
     bottom: 100px;  
    left: 25px;
    right: 20px;
    transform: translateY(-50%);
    color: var(--white);
    font-size: 24px;
}

.card__price {
    font-family: var(--sh);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
    padding: 10px;
}

.card__add {

    position: absolute;
    margin-top: 15px;
    bottom: 22px;
    left: 20px;
}

.card__btn {
    display: inline-block;
    padding: 24px 70px;
    border: 1px solid var(--white);
    background: var(--white);
    font-family: var(--sh);
    font-size: 24px;
    transition: 0.3s;

}
.card__btn:hover{
 background-color: transparent;   
}


.card__img {
    position: relative;
    max-width: 552px;
}

.card__img img {
    width: 100%;
    display: block;
}

.card__favorite {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    gap: 24px;
}

.discount__percentage {
    color: var(--white);
}

.bestsellers__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 60px;
}
@media (max-width: 1488px){
.bestsellers__grid{
    grid-template-columns: 1fr ;
}
.card__btn{
    padding: 18px 50px;
}
}
