

.collection-title{
margin-bottom: 20px;
font-family: var(--sh);
font-weight: 400;
font-size: clamp(0.938rem, 0.584rem + 1.77vw, 2.5rem);
line-height: 100%;
color: var(--black);
}
.collection__desc-slogan{
   margin-bottom: 20px;
max-width: 696px;
font-family: var(--sh);
font-weight: 400;
font-size: 24px;
line-height: 100%;
color: var(--black);
}
.collection__text-slogan{
   margin-bottom: 20px;
   margin-top: 40px ;
   font-family: var(--sh);
font-weight: 400;
font-size: 16px;
line-height: 100%;
color: var(--gray);
word-break: break-all;
 display: -webkit-box;
  -webkit-line-clamp: 5; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product__card{
   position: relative;

}
.discount__percentage{
    position: absolute;
  top: 20px;
  left: 20px;
  background:var(--black);
  padding:17px 40px ;
  font-size: 18px;
  color: var(--white);

}
.product__card-img {
 height: 100%;    
}

.product__card-img img{
   width: 100%;
   height: 100%;
}
.product__card-desc{
   position: absolute;
    bottom: 10px;  
    left: 25px;
    right: 20px;
    color: var(--white);
}
.product__card-desc_title{
   font-family: var(--sh);
font-weight: 400;
font-size: 24px;
line-height: 100%;
text-transform: uppercase;
color: var(--white);
}
.product__card-desc-info{
   font-family: var(--sh);
font-weight: 400;
font-size: 16px;
line-height: 100%;
text-transform: uppercase;
color: var(--white);
}
.product__card-price{
   font-family: var(--sh);
font-weight: 400;
font-size: 24px;
line-height: 100%;
text-transform: uppercase;
color: var(--white);
}
.collection__grid{
   display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-auto-rows:340px;
   gap: 24px;
}
.card-fuji{
   grid-row: 1/3;
   grid-column: 2;
}
@media (max-width: 868px) {
  .collection__grid{
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
  .product__card-desc-info{
   font-size: 12px;
  }
  .product__card-price{
   font-size: 13px;
  }
  .product__card-desc_title{
   font-size: 15px;
  }
  .discount__percentage{
   padding: 18px 32px;
  }

  .card-fuji{
    grid-row: auto;
    grid-column: auto;
  }
}