footer{
     border-top: 1px solid var(--black);
     padding: 120px;
}
.footer__nav{
 display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__nav-list{
    display: flex;
    align-items: center;
    gap: 220px;
}
.footer__nav-list-item-link{
    font-family:var(--sh);
font-weight: 400;
font-size: 24px;
line-height: 100%;
color: var(--black);
}
.follow__title{
    color: var(--black);
}
.footer__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    font-family: var(--sh);
font-weight: 400;
font-size: 24px;
line-height: 90%;
}

.footer__nav-icons{
    display: flex;
    gap: 20px;
}
  @media (max-width: 1336px) {
    .footer__nav-list{
        gap: 50px;
    }
    .footer__nav{
        
        flex-direction: column;
        gap: 50px;
    }
}
@media (max-width: 480px){
.footer__nav-list{
     flex-direction: column;
        align-items: center;
        gap: 20px;
}
}
@media (max-width: 400px){
    .follow__title{
        white-space: nowrap;
    }

}
