.header {
    background-color: var(--white);
   
}


.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-logo {
    font-family: var(--sh);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--black);
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 120px;
}

.header__nav-list-item-link {
    font-family: var(--sh);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: var(--black);
}

.header__nav-list-item-link:hover {
    color: var(--white);
}

.header__nav-icons {
    display: flex;
    align-items: center;
    gap: 60px;
}

.banner {
    padding: 200px 20px;
    min-height: 100svh;
    background: url(../img/bg.png) no-repeat center bottom / cover;

}

.banner__wrap {
    display: flex;
    align-items: center;
}

.banner__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.banner__title {
    font-family: var(--sh);
    font-weight: 400;
    font-size: clamp(1.25rem, 0.486rem + 3.82vw, 4.625rem);
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
}

.banner__desc {
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner__desc-slogan {
    font-family: var(--sh);
    font-weight: 400;
    font-size:  24px;
    line-height: 100%;
    color: var(--white);
    width: 100%;
     display: -webkit-box;
  -webkit-line-clamp: 4; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}



.banner__content-btn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner__btn {
    max-width: 255px;
    width: 100%;
    padding: 26px 106px;
    border: 2px solid var(--white);
    outline: none;
    font-family: var(--sh);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: var(--white);
    text-transform: uppercase;
    background-color: transparent;

}
@media screen and (max-width:956px) {
   
    .header__wrap{
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 30px;

    }
    .banner{
        height: 420px;
    }
}
@media screen and (max-width:668px){
    .header__nav-list{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .banner__btn {
        padding: 14px 10px;
        font-size: 16px;
    }
}
   
    

@media screen and (max-width:558px){
.banner__desc-slogan{
        height: 90%;
        line-height: 1.4;
    }
}